.App {
  text-align: center;
  /* border: 8px solid #739073cc; */
  width: 75%;
  margin: auto;
  padding: 15px 10px 15px 10px;
  border-radius: 44px;
  color: white;
  /* background-color: #0c457d; */
  max-width: 700px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(
    to bottom right,
    rgb(175 170 170 / 60%),
    /* Grey in top-left */ #0c457d 80%,
    /* Main blue background */ rgba(128, 128, 128, 0.4)
      /* Grey in bottom-right */
  );
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

html {
  height: 100%;
}

body {
  margin: 0;
  background-color: black;
}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 40px;
  margin-bottom: 25px;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85% / 30%;
}
header .overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  /* text-shadow: 1px 1px 1px #333; */
  background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}

h3,
p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}
.share {
  padding: 16px;
  margin-top: 10px;
  vertical-align: center;
  background: #f44336;
  width: 70px;
  height: 45px;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 13px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: -1;
}

.share:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.ant-table-wrapper .ant-table {
  background: unset !important;
  color: white;
}
.ant-table-thead > tr > th {
  background: unset !important;
  color: white !important;
}
.ant-table-tbody > tr > td {
  max-width: 400px;
}

.ant-table-tbody > tr:last-child > td {
  border-bottom: unset !important;
}
.ant-table-cell-row-hover {
  background: unset!important ;
  cursor: pointer;
}
.ant-table-cell a {
  color: white;
  margin-bottom: 1px;
} 
.ant-table-cell a:hover {
  color: black;
}
.media_link{
  display: flex;
  justify-content: space-between;

  svg{
    height: 18px;
    fill: white;
    cursor: pointer;
  }
}
